
body {
    margin: 0 auto;
}


#container{
    background-color: white;
}

#bl_banner{
    margin: 0 auto;
    width: 100vw;
    height: 980px;
    position: relative;
    background: #e5e5e5;
}

#bl_banner .banner {
    width: 1920px;
    height: 980px;
    position: relative;
    margin: 0 auto;
}

#bl_banner .banner .text {
    position: absolute;
}

#bl_banner .banner .text >div {
    overflow: hidden;
}

#bl_banner .banner .text >div img{
    transform: translateY(130%)rotate(-5deg);
    transition: all 1.5s;
}

#bl_banner.on .banner .text >div img{
    transform: translateY(0)rotate(0);
}

#bl_banner .banner .text .text_01 {
    width: 1283px;
    height: 163px;
    position: absolute;
    left: 300px;
    top: 450px;
}

#bl_banner .banner .text .text_02 {
    width: 938px;
    height: 152px;
    position: absolute;
    left: 760px;
    top: 650px;
}

#bl_banner .banner .btn {
    width: 115px;
    height: 115px;
    background: url("../img/page02/01/btn.png") no-repeat;
    position: absolute;
    left: 1620px;
    top: 450px;
}

#bl_banner .banner .btn a{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#bl_banner .banner .btn:hover {
    background: url("../img/page02/01/btn_01.png") no-repeat;
}








#overview {
    margin: 0 auto;
    width: 100vw;
    height: 2350px;
    position: relative;
    background-color: #191919;
}

#overview .contents {
    width: 1920px;
    height: 2350px;
    position: relative;
    margin: 0 auto;
    background: #191919;
}


#ov_head{
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#ov_head >div {
    overflow: hidden;
}

#ov_head >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#ov_head.on >div img{
    transform: translatey(0);
}


#ov_head .line{
    width: 100vw;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}


#overview.contents .head_01 .text {
    width: 1600px;
    height:16px;
    display: flex;
    justify-content: center;
}

#ov_part_01 {
    width: 1496px;
    height: 650px;
    position: absolute;
    left: 250px;
    top: 350px;
}

#ov_part_01 >div {
    overflow: hidden;
}

#ov_part_01 >div img{
    transform: translateY(130%)rotate(-2deg);
    transition: all 2.5s;
}

#ov_part_01.on >div img{
    transform: translateY(0)rotate(0);
}

#ov_part_01 .text_01 {
    width: 374px;
    height: 93px;
    position: absolute;
    left: 0;
    top: 0;
}

#ov_part_01 .text_02 {
    width: 612px;
    height: 93px;
    position: absolute;
    left: 300px;
    top: 140px;
}

#ov_part_01 .text_03 {
    width: 912px;
    height: 94px;
    position: absolute;
    left: 0;
    bottom: 280px;
}

#ov_part_01 .text_04 {
    width: 574px;
    height: 92px;
    position: absolute;
    right: 300px;
    bottom: 140px;
}

#ov_part_01 .text_05 {
    width: 1052px;
    height: 60px;
    position: absolute;
    right: 220px;
    bottom: 0;
}

#ov_part_01 .text_09 {
    width: 17px;
    height: 199px;
    position: absolute;
    right: 0;
    top: 0;
}


#ov_part_02 {
    width: 1415px;
    height: 930px;
    position: absolute;
    right: 320px;
    bottom: 200px;
}

#ov_part_02 >div{
    width: 1415px;
    height: 930px;
    transform: translateY(150px);
    opacity: 0;
    transition: all .5s;
}

#ov_part_02.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all .5s;
}

#ov_part_02.on >div:nth-child(1){transition-delay: 0.2s}
#ov_part_02.on >div:nth-child(2){transition-delay: 0.3s}


#ov_part_02 .left{
    width: 530px;
    height: 696px;
    position: absolute;
    bottom: 0;
}

#ov_part_02 .left >div{
    transform: translateY(150px);
    opacity: 0;
    transition: all 2.5s;
}

#ov_part_02.on .left >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2.5s;
}

#ov_part_02.on .left >div:nth-child(1){transition-delay: 0.5s}
#ov_part_02.on .left >div:nth-child(2){transition-delay: 0.9s}
#ov_part_02.on .left >div:nth-child(3){transition-delay: 1.2s}



#ov_part_02 .left .text_06{
    width: 499px;
    height: 155px;
    position: absolute;
    top: 0;
    left: 0;
}

#ov_part_02 .left .text_07{
    width: 508px;
    height: 155px;
    position: absolute;
    top: 270px;
    left: 0;
}

#ov_part_02 .left .text_08{
    width: 526px;
    height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#ov_part_02 .right {
    width: 708px;
    height: 942px;
    position: absolute;
    right: 0;
}








#bl_home{
    margin: 0 auto;
    width: 100vw;
    height: 8904px;
    background: #191919;
}

#bl_home .contents {
    width: 1920px;
    height: 8904px;
    position: relative;
    margin: 0 auto;
    background: url("../img/page02/03/bg.png");
}

#main_inner {
    width: 1920px;
    height: 8904px;
    position: relative;
    margin: 0 auto;
}


#head_02 {
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#head_02 >div {
    overflow: hidden;
}

#head_02 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#head_02.on >div img{
    transform: translateY(0);
}

#head_02 .text {
    width: 1630px;
    height:17px;
}

#head_02 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#main_inner .inner {
    width: 1920px;
    height: 8904px;
    position: relative;
}

#part_01 {
    width: 1362px;
    height: 934px;
    position: relative;
    top: 400px;
    margin: 0 auto;
}

#part_01 >div {
    width: 1362px;
    height: 934px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s;
}

#part_01.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 3s;
}

#part_01 .text_01 {
    width: 981px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

#part_01 .ipad_img {
    width: 1368px;
    height: 726px;
    position: relative;
    top: 200px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}

#part_01 .ipad_img .ipad {
    width: 1368px;
    height: 506px;
    position: absolute;
    left: 0;
    top: 0;
}

#part_01 .ipad_img .ipad_page {
    width: 1290px;
    height: 630px;
    background: khaki;
    position: relative;
    left: 40px;
    top: 35px;
    font-size: 100px;
    overflow:hidden;
}
#part_01 .ipad_img .ipad_page video{
    width: 100%;
    height: 100%;
}

#main_inner .inner .bg_img {
    width: 1920px;
    height: 1174px;
    position: relative;
    top: 5000px;
    opacity: 0.5;
}

#main_inner .inner .bg_img >div {
    width: 1920px;
    height: 1174px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s;
}

#main_inner .inner .bg_img.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 3s;
}

#main_inner .inner .bg_img.on >div:nth-child(2){transition-delay: 1.2s}


#main_inner .inner .bg_img .text_img {
    width:1445px;
    height: 730px;
    position: relative;
}

#main_inner .inner .bg_img .pot {
    width:685px;
    height: 554px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#main_inner .inner .page {
    width: 1361px;
    height: 4511px;
    position: relative;
    top: -600px;
    margin: 0 auto;
}

#main_inner .inner .page {
    width: 1361px;
    height: 4511px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 3s;
}

#main_inner .inner .page.on{
    transform: translateY(0);
    opacity: 1;
    transition: all 3s;
}


#main_inner .inner .part_02 {
    width: 1920px;
    height: 1722px;
    position: relative;
    margin-top: 150px;
}

#main_inner .inner .part_02 >div {
    width: 1920px;
    height: 1722px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s;
}

#main_inner .inner .part_02.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}
#main_inner .inner .part_02.on >div:nth-child(1){transition-delay: 1.5s}
#main_inner .inner .part_02.on >div:nth-child(2){transition-delay: 0.5s}
#main_inner .inner .part_02.on >div:nth-child(3){transition-delay: 2.3s}


#main_inner  .inner .part_02 .top {
    width: 1920px;
    height: 694px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 150px;
}

#main_inner  .inner .part_02 .top >div {
    width:295px;
    height: 365px;
    margin-right: 50px;
    position: relative;
}

#main_inner  .inner .part_02 .top .page03 {
    position: absolute;
    bottom: 0;
    right: 360px;
}

#main_inner  .inner .part_02 .top .page04 {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#main_inner  .inner .part_02 .iphone_01 {
    width: 331px;
    height: 671px;
    position: absolute;
    left: 765px;
    top: 0;
}

#main_inner  .inner .part_02 .iphone_01 .iphone {
    width: 331px;
    height: 671px;
    position: absolute;
    left: 0;
    top: 0;
}

#main_inner .inner .part_02 .iphone_01 .iphone_page {
    width: 310px;
    height: 640px;
    border-radius: 45px;
    background: white;
    position:relative;
    left: 10px;
    top: 15px;
    font-size: 50px;
    color: white;
}

#main_inner .inner .part_02 .iphone_01  .iphone_page video{
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

#main_inner .inner .part_02 .bottom {
    width: 1920px;
    height: 920px;
    position: relative;
}

#main_inner .inner .part_02 .bottom .text {
    width:432px;
    height: 98px;
    position: absolute;
    left: 770px;
    top: 0;
}

#main_inner .inner .part_02 .bottom .iphone_02 > div{
    width:331px;
    height: 671px;
    position: absolute;
}

#main_inner .inner .part_02 .bottom .iphone_02 .img_01 {
    left: 320px;
    top: 0;
}

#main_inner .inner .part_02 .bottom .iphone_02 .img_02 {
    left: 765px;
    bottom: 0;
}






#section04{
    margin: 0 auto;
    width: 100vw;
    height:5689px;
    background: #f5f5f5;
    position: relative;
}

#section04 .contents {
    width: 1920px;
    height: 5689px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#section04 .inner {
    width: 1920px;
    height: 5689px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: url("../img/page02/04/bg.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}

#section04 .contents .inner .head_03 {
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}


#section04 .head_03 >div {
    overflow: hidden;
}

#section04 .head_03 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#section04 .head_03.on >div img{
    transform: translateY(0);
}


#section04 .contents .inner .head_03 .text {
    width: 1680px;
    height:17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section04 .contents .inner .head_03 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section04 .inner .top {
    width:1360px;
    height: 2500px;
    position: relative;
    top: 270px;
    margin: 0 auto 600px;
}

#section04 .inner .top >div{
    width: 1360px;
    height: 2500px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s;
}

#section04 .inner .top.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#section04 .inner .top .text_01 {
    width:838px;
    height: 49px;
    position: relative;
    left: 250px;
    top: 80px;
}

#section04 .inner .top .page {
    width: 1360px;
    height: 2451px;
    position: relative;
    left: 0;
    top: 200px;
}

#section04 .inner .bottom {
    width: 1920px;
    height: 1554px;
    position: relative;
    left: 0;
}

#section04 .inner .bottom > div {
    width: 1920px;
    height: 1554px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s;
}

#section04 .inner .bottom.on > div{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#section04 .inner .bottom.on > div:nth-child(2){transition-delay: 1.5s}
#section04 .inner .bottom.on > div:nth-child(3){transition-delay: 0.3s}
#section04 .inner .bottom.on > div:nth-child(4){transition-delay: 1.0s}
#section04 .inner .bottom.on > div:nth-child(5){transition-delay: 1.8s}


#section04 .inner .bottom .text_02 {
    width:326px;
    height: 128px;
    position: absolute;
    right: 700px;
    top: 100px;
}

#section04 .inner .bottom .text_bg .bg_01 {
    width: 1097px;
    height: 477px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.8;
}

#section04 .inner .bottom .text_bg .bg_02 {
    width: 200px;
    height: 1352px;
    position: absolute;
    right: 260px;
    top: 0;
    opacity: 0.5;
}

#section04 .inner .bottom .img_01{
    width:365px;
    height: 740px;
    position: absolute;
    left: 400px;
    top: 100px;
}

#section04 .inner .bottom .img_02{
    width:365px;
    height: 740px;
    position: absolute;
    right: 700px;
    bottom: 300px;
}





#section05{
    margin: 0 auto;
    width: 100vw;
    height: 2700px;
    background: #f5f5f5;
    position: relative;
}

#section05 .contents {
    width: 1920px;
    height: 2700px;
    margin: 0 auto;
    position: relative;
}


#section05 .contents .inner {
    width: 1920px;
    height: 2700px;
    position: relative;
    background: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#section05 .contents .inner .head_04{
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section05 .head_04 >div {
    overflow: hidden;
}

#section05 .head_04 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#section05 .head_04.on >div img{
    transform: translateY(0);
}

#section05 .contents .inner .head_04 .text {
    width: 1680px;
    height:17px;
}

#section05 .contents .inner .head_04 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section05 .contents .inner .top02 {
    width: 1511px;
    height: 1026px;
    position: relative;
    left: 220px;
    top: 0;
}

#section05 .contents .inner .top02 >div{
    width: 1511px;
    height: 1026px;
    transform: translateY(140px);
    opacity: 0;
    transition: all 1.5s;
}

#section05 .contents .inner .top02.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#section05 .contents .inner .top02.on >div:nth-child(2){transition-delay: 0.9s}

#section05 .contents .inner .top02 .text {
    width: 718px;
    height: 70px;
    position: absolute;
    left: 190px;
    top: 100px;
}

#section05 .contents .inner .top02 .macbook {
    width:1511px;
    height: 875px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#section05 .contents .inner .top02 .macbook .img {
    width: 1511px;
    height: 875px;
    position: absolute;
    left: 50px;
    top: 100px;
}

#section05 .contents .inner .top02 .macbook .page {
    width: 1080px;
    height: 645px;
    position: absolute;
    background: khaki;
    left: 200px;
    top: 115px;
}

#section05 .contents .inner .top02 .macbook .page video{
    width: 100%;
    height: 100%;
}

#section05 .contents .inner .bottom02 {
    width: 1920px;
    height: 1169px;
    position: relative;
}

#section05 .contents .inner .bottom02 >div{
    width: 1920px;
    height: 1169px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s;
}

#section05 .contents .inner .bottom02.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}






#section06{
    margin: 0 auto;
    width: 100vw;
    height:4200px;
    background: #f5f5f5;
}

#section06 .inner{
    width: 1920px;
    height: 4200px;
    position: relative;
    margin: 0 auto;
    background: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

#section06 .contents .inner .head_05{
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section06 .head_05 >div {
    overflow: hidden;
}

#section06 .head_05 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#section06 .head_05.on >div img{
    transform: translateY(0);
}

#section06 .contents .inner .head_05 .text {
    width: 1680px;
    height:17px;
}


#section06 .contents .inner .head_05 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section06 .contents .inner .visual {
    width: 1920px;
    height: 1650px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section06 .contents .inner .visual>div{
    width: 1920px;
    height: 1650px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s;
}

#section06 .contents .inner .visual.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#section06 .contents .inner .visual.on >div:nth-child(2){transition-delay: 1.4s}

#section06 .contents .inner .visual .color {
    width: 1400px;
    height: 608px;
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section06 .contents .inner .visual .font{
    width:1360px;
    height: 844px;
    position: relative;
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section06 .contents .inner .style_img{
    width: 1600px;
    height: 1800px;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#section06 .contents .inner .style_img >div{
    width: 1600px;
    height: 1800px;
    transform: translateY(140px);
    opacity: 0;
    transition: all 2.5s;
}

#section06 .contents .inner .style_img.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2.5s;
}

#section06 .contents .inner .style_img.on >div:nth-child(2){transition-delay: 1.5s}

#section06 .contents .inner .style_img .img_04{
    margin-top: -600px;
}






#section07{
    margin: 0 auto;
    width: 100vw;
    height: 5920px;
    background: #191919;
}

#section07 .contents{
    width: 1920px;
    height: 5920px;
    position: relative;
    margin: 0 auto;
}

#section07 .contents .inner {
    width: 1920px;
    height: 5920px;
    position: relative;
    background: url("../img/page02/07/bg.png");
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section07 .contents .inner .startPoint {
}

#section07 .contents .inner .head_06{
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section07 .head_06 >div {
    overflow: hidden;
}

#section07 .head_06 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#section07 .head_06.on >div img{
    transform: translateY(0);
}

#section07 .head_06 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#section07 .contents .inner .about {
    width: 1600px;
    height: 3200px;
    position: relative;
    margin-top: 100px;
}

#section07 .contents .inner .about >div{
    width: 1600px;
    height: 3200px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2.5s;
}

#section07 .contents .inner .about.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2.5s;
}

#section07 .contents .inner .about.on >div:nth-child(2){transition-delay: 0.4s}
#section07 .contents .inner .about.on >div:nth-child(3){transition-delay: 0.8s}

#section07 .contents .inner .about .text_01 {
    width:798px;
    height: 98px;
    position: absolute;
    right: 240px;
    top: 0;
}

#section07 .contents .inner .about .about_page{
    width:1035px;
    height: 3011px;
    position: absolute;
    right: 0;
    top: 180px;
}

#section07 .contents .inner .about .iphone_01 {
    width:331px;
    height: 2720px;
    position: absolute;
    left: 100px;
    top: 300px;
}

#section07 .contents .inner .thanks {
    width: 1920px;
    height: 2000px;
    position: relative;
}

#section07 .contents .inner .thanks >div{
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#section07 .contents .inner .thanks.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#section07 .contents .inner .thanks.on >div:nth-child(2){transition-delay: 1.8s}
#section07 .contents .inner .thanks.on >div:nth-child(3){transition-delay: 3.3s}


#section07 .contents .inner .thanks .ba_th_text {
    width: 1920px;
    height: 910px;
    position: absolute;
    left: 0;
    top: 0;
}

#section07 .contents .inner .thanks .ba_th_text >div{
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#section07 .contents .inner .thanks.on .ba_th_text >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#section07 .contents .inner .thanks.on .ba_th_text >div:nth-child(2){transition-delay: 0.8s}
#section07 .contents .inner .thanks.on .ba_th_text >div:nth-child(3){transition-delay: 1.2s}

#section07 .contents .inner .thanks .ba_th_text .th_01 {
    width:1302px;
    height: 269px;
    position: absolute;
    left: 50px;
    top: 0;
}

#section07 .contents .inner .thanks .ba_th_text .th_02 {
    width:648px;
    height: 269px;
    position: absolute;
    left: 600px;
    top: 300px;
}

#section07 .contents .inner .thanks .ba_th_text .th_03 {
    width:1903px;
    height: 256px;
    position: absolute;
    left: 50px;
    bottom: 0;
}

#section07 .contents .inner .thanks .iphone_02 {
    width:331px;
    height: 671px;
    position: absolute;
    left: 800px;
    bottom: 450px;
}

#section07 .contents .inner .thanks .text02 {
    width:1694px;
    height: 72px;
    position: absolute;
    left: 120px;
    bottom: 100px;
}








#section08{
    margin: 0 auto;
    width: 100vw;
    height: 750px;
    background: #191919;
}

#section08 .contents {
    width: 100vw;
    height: 750px;
    position: revert;
    background: black;
    margin: 0 auto;
}


#section08 .contents> div::after{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.58);
    opacity:0 ;
    transition: all .3s;
}

#section08 .contents> div:hover:after{
    opacity:1;
}

#section08 .contents .inner {
    width: 1920px;
    height: 750px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#section08 .text {
    width: 627px;
    height: 131px;
    position: absolute;
    left: 650px;
    top: 300px;
}