

#container{
    background-color: white;
}

#in_banner{
    margin: 0 auto;
    width: 100vw;
    height: 980px;
    position: relative;
    background: #e5e5e5;
}

#in_banner .banner {
    width: 1920px;
    height: 980px;
    position: relative;
    margin: 0 auto;
}

#in_banner .banner .text {
    position: absolute;
}

#in_banner .banner .text >div {
    overflow: hidden;
}

#in_banner .banner .text >div img{
    transform: translateY(130%)rotate(-5deg);
    transition: all 1.5s;
}

#in_banner.on .banner .text >div img{
    transform: translateY(0)rotate(0);
}


#in_banner .banner .text .text_01 {
    width: 1230px;
    height: 163px;
    position: absolute;
    left: 300px;
    top: 450px;
}

#in_banner .banner .text .text_02 {
    width: 805px;
    height: 155px;
    position: absolute;
    left: 760px;
    top: 650px;
}








#in_overview {
    margin: 0 auto;
    width: 100vw;
    height: 2040px;
    position: relative;
    background-color: black;
}

#in_overview .contents {
    width: 1920px;
    height: 2040px;
    position: relative;
    margin: 0 auto;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#in_head{
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#in_head >div {
    overflow: hidden;
}

#in_head >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#in_head.on >div img{
    transform: translatey(0);
}


#in_head .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#in_overview .contents .ov_part03 {
    width: 1525px;
    height: 568px;
    position: relative;
    top: 100px;
}

#in_overview .contents .ov_part03 >div {
    overflow: hidden;
}

#in_overview .contents .ov_part03  >div img{
    transform: translateY(130%)rotate(-2deg);
    transition: all 2.5s;
}

#in_overview .contents .ov_part03.on >div img{
    transform: translateY(0)rotate(0);
}

#in_overview .contents .ov_part03.on >div img :nth-child(2){transition-delay: 0.5s}
#in_overview .contents .ov_part03.on >div img :nth-child(3){transition-delay: 0.9s}
#in_overview .contents .ov_part03.on >div img :nth-child(5){transition-delay: 1.2s}

#in_overview .contents .ov_part03 .text_01{
    width:891px;
    height:94px;
    position: absolute;
    left: 20px;
    top: 0;
}

#in_overview .contents .ov_part03 .text_02{
    width:520px;
    height:94px;
    position: absolute;
    left: 500px;
    top: 130px;
}

#in_overview .contents .ov_part03 .text_03{
    width:696px;
    height:94px;
    position: absolute;
    left: 190px;
    top: 260px;
}

#in_overview .contents .ov_part03 .text_04{
    width:1174px;
    height:104px;
    position: absolute;
    left: 350px;
    top: 450px;
}

#in_overview .contents .ov_part03 .text_05{
    width:20px;
    height:503px;
    position: absolute;
    right: 0;
    top: 0;
}

#in_overview .contents .ov_part04 {
    width: 1525px;
    height:800px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#in_overview .contents .ov_part04 >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#in_overview .contents .ov_part04.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}


#in_overview .contents .ov_part04 .left{
    width: 640px;
    height: 430px;
    position: absolute;
    left: 0;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
}

#in_overview .contents .ov_part04 .left >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2.5s;
}

#in_overview .contents .ov_part04.on .left >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2.5s;
}

#in_overview .contents .ov_part04.on .left >div:nth-child(1){transition: 1.2s}
#in_overview .contents .ov_part04.on .left >div:nth-child(2){transition: 2.2s}

#in_overview .contents .ov_part04 .right {
    width:716px;
    height: 800px;
    position: absolute;
    right: 0;
    top: 0;
}






#in_home{
    margin: 0 auto;
    width: 100vw;
    height: 4110px;
    background: white;
}

#in_home .contents {
    width: 1920px;
    height: 4135px;
    position: relative;
    margin: 0 auto;
    background: url("../img/page06/03/bg.png");
    display: flex;
    flex-wrap: wrap;
}

#in_head_02 {
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#in_head_02 >div {
    overflow: hidden;
}

#in_head_02 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#in_head_02.on >div img{
    transform: translateY(0);
}

#in_head_02 .text {
    width: 1630px;
    height:17px;
}

#in_head_02 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#in_home .contents .in_inner {
    width: 1361px;
    height: 3652px;
    position: relative;
    margin: 0 auto;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#in_home .contents .in_inner >div {
    transform: translateY(150px);
    opacity: 0;
    transition:  all 2.5s;
}

#in_home .contents .in_inner.on >div {
    transform: translateY(0);
    opacity: 1;
    transition:  all 2.5s;
}

#in_home .contents .in_inner.on >div:nth-child(2){transition-delay: 0.3s}
#in_home .contents .in_inner.on >div:nth-child(3){transition-delay: 0.8s}

#in_home .contents .in_inner .text_01{
    width:1210px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
}

#in_home .contents .in_inner .img_01 {
    width: 1361px;
    height: 2431px;
    position: absolute;
    top: 150px;
    left: 0;
}

#in_home .contents .in_inner .in_img >div{
    transform: translateY(150px);
    opacity: 0;
    transition:  all 2.5s;
}

#in_home .contents .in_inner .in_img.on >div{
    transform: translateY(0);
    opacity: 1;
    transition:  all 2.5s;
}

#in_home .contents .in_inner .in_img .in_img_02{
    width:331px;
    height: 671px;
    position: absolute;
    left: 300px;
    top: 2800px;
}

#in_home .contents .in_inner .in_img .in_img_03 {
    width:331px;
    height: 671px;
    position: absolute;
    left: 700px;
    top: 2480px;
}

#in_home .contents .in_inner .in_img .in_img_03 .iphone{
    width: 331px;
    height: 671px;
    position: relative;
    left: 0;
    top: 0;
}

#in_home .contents .in_inner .in_img .in_img_03 .page {
    width: 310px;
    height: 650px;
    border-radius: 40px;
    background: #007aff;
    position: absolute;
    left: 10px;
    top: 10px;
}

#in_home .contents .in_inner .in_img .in_img_03 .page video {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}








#in_detail{
    margin: 0 auto;
    width: 100vw;
    height:8154px;
    background: black;
    position: relative;
}

#in_detail .contents {
    width: 1920px;
    height: 8154px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background: black;
}


#in_detail .contents .in_head_03 {
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}


#in_detail .contents .in_head_03 >div {
    overflow: hidden;
}

#in_detail .contents .in_head_03 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#in_detail .contents .in_head_03.on >div img{
    transform: translateY(0);
}


#in_detail .contents .in_head_03 .text {
    width: 1680px;
    height:18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#in_detail .contents .in_head_03 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#in_detail .contents .de_bg_img {
    width:1920px;
    height: 2836px;
    position: relative;
    top: 1200px;
}

#in_detail .contents .inner {
    width:1361px;
    height: 6114px;
    position: absolute;
    top: 350px;
    left: 285px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#in_detail .contents .inner > div{
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#in_detail.on .contents .inner > div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}


#in_detail .contents .inner .text_01 {
    width:1076px;
    height: 79px;
    position: absolute;
    left: 100px;
    top: 0;
}

#in_detail .contents .inner .page {
    width: 1361px;
    height: 5934px;
    position: absolute;
    left: 0;
    top: 180px;
}

#in_detail .contents .iphone {
    width:355px;
    height: 719px;
    position: absolute;
    left: 300px;
    top: 7280px;
}

#in_detail .contents .iphone .page {
    width: 327px;
    height: 689px;
    border-radius: 50px;
    background: mediumslateblue;
    position: absolute;
    left: 15px;
    top: 15px;
}

#in_detail .contents .iphone .page video{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#in_detail .contents .iphone .frame {
    width: 355px;
    height: 719px;
    position: relative;
}











#in_vari {
    width: 100vw;
    height: 1960px;
    margin: 0 auto;
    background: black;
    position: relative;
}

#in_vari .contents {
    width: 1920px;
    height: 1960px;
    position: relative;
    background: black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#in_vari .contents .in_head_04 {
    width: 1920px;
    height: 55px;
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}


#in_vari .contents .in_head_04 >div {
    overflow: hidden;
}

#in_vari .contents .in_head_04 >div img {
    transform: translateY(-130%);
    transition: all 1.5s;
}

#in_vari .contents .in_head_04.on >div img{
    transform: translateY(0);
}


#in_vari .contents .in_head_04 .text {
    width: 1680px;
    height:18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#in_vari .contents .in_head_04 .line{
    width: 1920px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#in_vari .contents .inner {
    width: 1600px;
    height: 1500px;
    position: relative;
    top: 80px;
}

#in_vari .contents .inner >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#in_vari.on .contents .inner >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#in_vari.on .contents .inner >div:nth-child(2){transition-delay: 1.5s}

#in_vari .contents .inner .page01 {
    width:1511px;
    height: 875px;
    position: absolute;
    left: 65px;
    top: 0;
}

#in_vari .contents .inner .page02 {
    width: 1600px;
    height: 368px;
    position: absolute;
    left: 0;
    top: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#in_vari .contents .inner .page02 .text_01 {
    width: 1111px;
    height: 49px;
    position: relative;
    left: -120px;
}








#next_promotion{
    margin: 0 auto;
    width: 100vw;
    height: 750px;
    background: #191919;
}

#next_promotion .contents {
    width: 1920px;
    height: 750px;
    position: relative;
    background: black;
    margin: 0 auto;
}

#next_promotion .contents> div::after{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.58);
    opacity:0 ;
    transition: all .3s;
}

#next_promotion .contents> div:hover:after{
    opacity:1;
}


#next_promotion .text {
    width: 844px;
    height: 140px;
    position: absolute;
    left: 550px;
    top: 300px;
}