
#container{
    background-color: white;
}

#nm_banner{
    margin: 0 auto;
    height: 1020px;
    width: 100vw;
    background: white;
    position: relative;
}

#nm_banner .contents{
    width: 1920px;
    height: 1020px;
    position: relative;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#nm_banner .contents .inner{
    width: 1600px;
    height:930px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#nm_banner .contents .inner .text .text_01{
    overflow: hidden;
}

#nm_banner .contents .inner .text .text_01 img {
    transform: translateY(300px);
    transition: all 1.8s;
}

#nm_banner.on .contents .inner .text .text_01 img {
    transform: translateY(0);
}

#nm_banner .contents .inner .text .text_02{
    position: absolute;
    left: 0;
    top: 250px;
}

#nm_banner .contents .inner .text .text_03{
    position: absolute;
    left: 0;
    top: 900px;
}

#nm_banner .contents .inner .img{
    position: absolute;
    left: 0;
    top: 330px;
}







#nm_overview {
    margin: 0 auto;
    width: 100vw;
    height: 1930px;
    position: relative;
    background: black;
}

#nm_overview .contents {
    width: 1920px;
    height: 1930px;
    position: relative;
    margin:  0 auto;
    background: black;
}

#nm_overview .contents .gnb_ov{
    width: 1920px;
    height: 80px;
    position: relative;
    background: black;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#nm_overview .contents .gnb_ov .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 auto;
    position: relative;
}

#nm_overview .contents .gnb_ov .gnb{
    position: absolute;
    left: 200px;
    top: 30px;
}

#nm_overview .contents .gnb_ov .gnb {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s;
}

#nm_overview .contents .gnb_ov.on .gnb {
    opacity: 1;
    transform: translateY(0);
    transition: all 1.5s;
}

#nm_overview .contents .inner {
    width: 1600px;
    height: 1930px;
    background: black;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: relative;
    justify-content: center;
}

#nm_overview .contents .inner >div {
    opacity: 0;
    transform: translateY(100px);
    transition:  all 2.5s;
}

#nm_overview.on .contents .inner >div {
    opacity: 1;
    transform: translateY(0);
    transition:  all 2.5s;
}

#nm_overview.on .contents .inner >div:nth-child(3){transition-delay: 2.0s;
}

#nm_overview .contents .inner .ov_text{
    width: 980px;
    height: 630px;
    position: relative;
    left: 130px;
    top: 200px;
}

#nm_overview .contents .inner .ov_text >div{
    opacity: 0;
    transform: translateY(100px);
    transition:  all 2s;
}

#nm_overview .contents .inner .ov_text.on >div{
    opacity: 1;
    transform: translateY(0);
    transition:  all 2s;
}

#nm_overview .contents .inner .ov_text.on >div:nth-child(2){transition-delay: 1.0s}
#nm_overview .contents .inner .ov_text.on >div:nth-child(3){transition-delay: 1.5s}
#nm_overview .contents .inner .ov_text.on >div:nth-child(4){transition-delay: 1.5s}


#nm_overview .contents .inner .ov_text .overview {
    width: 980px;
    height: 125px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

#nm_overview .contents .inner .ov_text .strategy {
    width: 940px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 270px;
    display: flex;
    justify-content: space-between;
}

#nm_overview .contents .inner .ov_text .shape{
    width: 902px;
    height: 182px;
    position: absolute;
    left: 0;
    top: 450px;
    display: flex;
    justify-content: space-between;
}

#nm_overview .contents .inner .ov_text .shape >div{
    margin-left: 30px;
}

#nm_overview .contents .inner .ov_text .shape >div:nth-child(2){
    margin-top: 80px;
}
#nm_overview .contents .inner .ov_text .shape >div:nth-child(4){
    margin-top: 80px;
}

#nm_overview .contents .inner .ov_text .sh_text>div{
    width: 150px;
    height:70px;
    position: absolute;
    left: 80px;
    top: 500px;
}

#nm_overview .contents .inner .ov_text .sh_text >div:nth-child(2){
    left: 430px;
}

#nm_overview .contents .inner .ov_text .sh_text >div:nth-child(3){
    left: 740px;
}

#nm_overview .contents .inner .img_01{
    width: 1600px;
    height:900px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#nm_overview .contents .inner .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    right: 40px;
    top: 450px;
}




#nm_text {
    margin: 0 auto;
    width: 100vw;
    height: 2240px;
    position: relative;
    background: black;
}

#nm_text .contents{
    width: 1920px;
    height: 2240px;
    position: relative;
    background: black;
    margin: 0 auto;
}

#nm_text .contents .inner{
    width: 1600px;
    height: 2240px;
    background: black;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nm_text .contents .inner .interview_01{
    width: 1356px;
    height: 718px;
    position: relative;
    top: 200px;
}

#nm_text .contents .inner .interview_01 >div{
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s;
}

#nm_text.on .contents .inner .interview_01 >div{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.5s;
}


#nm_text .contents .inner .interview_01 .interview_text{
    width:1242px;
    height:27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50px;
}

#nm_text .contents .inner .interview_01 .interview_img {
    width: 1352px;
    height: 540px;
    position: absolute;
    left: 0;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#nm_text .contents .inner .interview_01 .interview_img >div{
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s;
}

#nm_text .contents .inner .interview_01 .interview_img.on >div{
    opacity: 1;
    transform: translateY(0);
    transition: all 2s;
}

#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(1){transition-delay: 0.5s;}
#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(2){transition-delay: 0.5s;}
#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(3){transition-delay: 0.5s;}
#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(4){transition-delay: 1.2s;}
#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(5){transition-delay: 1.2s;}
#nm_text .contents .inner .interview_01 .interview_img.on >div:nth-child(6){transition-delay: 1.2s;}


#nm_text .contents .inner .interview_01 .interview_img >div:nth-child(5){
    margin-top: -55px;
}

#nm_text .contents .inner .solution_01{
    width: 1356px;
    height: 880px;
    position: relative;
    top: 100px;
}

#nm_text .contents .inner .solution_01 >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_text .contents .inner .solution_01.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_text .contents .inner .solution_01.on >div:nth-child(2){transition-delay: 1.2s}

#nm_text .contents .inner .solution_01 .solution_text {
    width: 900px;
    height:27px;
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nm_text .contents .inner .solution_01 .solution_img {
    width:1352px;
    height: 682px;
    position: absolute;
    left: 0;
    top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nm_text .contents .inner .solution_01 .solution_img .arr{
    width: 744px;
    height:24px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 290px;
    top: 350px;
}

#nm_text .contents .inner .solution_01 .solution_img .arr >div{
    opacity: 0;
    transform: translateY(100px);
    transition: 1s;
}

#nm_text .contents .inner .solution_01 .solution_img .arr.on >div{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

#nm_text .contents .inner .solution_01 .solution_img .bg_shape{
    position: relative;
}

#nm_text .contents .inner .solution_01 .solution_img .shape{
    width:1320px;
    height: 652px;
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}







#nm_img {
    margin: 0 auto;
    width: 100vw;
    height: 1900px;
    position: relative;
    background: #ddb9c7;
}

#nm_img .contents {
    width: 1920px;
    height: 1900px;
    position: relative;
    margin: 0 auto;
}

#nm_img .contents .inner {
    width: 1920px;
    height: 1900px;
    position: relative;
    display: flex;
    margin: 0 auto;
}

#nm_img .contents .inner .visual {
    width: 1920px;
    height: 199px;
    position: absolute;
}

#nm_img .contents .inner .img_text {
    width: 1920px;
    height: 1620px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#nm_img .contents .inner .img_text >div {
    transform: translatex(-100px);
    opacity: 0;
    transition: 2s;
}

#nm_img .contents .inner .img_text.on >div {
    transform: translatex(0);
    opacity: 1;
    transition: 2s;
}

#nm_img .contents .inner .img_text .text_04{
    transform: translatex(100px);
    opacity: 0;
    transition: 2s;
}

#nm_img .contents .inner .img_text.on .text_04{
    transform: translatex(0);
    opacity: 1;
    transition: 2s;
}

#nm_img .contents .inner .img_text .text_05{
    transform: translatex(100px);
    opacity: 0;
    transition: 2s;
}

#nm_img .contents .inner .img_text.on .text_05{
    transform: translatex(0);
    opacity: 1;
    transition: 2s;
}

#nm_img .contents .inner .img_text.on >div:nth-child(1){transition-delay: 0.5s}
#nm_img .contents .inner .img_text.on >div:nth-child(2){transition-delay: 1.3s}
#nm_img .contents .inner .img_text.on >div:nth-child(3){transition-delay: 1.9s}
#nm_img .contents .inner .img_text.on >div:nth-child(4){transition-delay: 3.0s}
#nm_img .contents .inner .img_text.on >div:nth-child(5){transition-delay: 3.4s}


#nm_img .contents .inner .img_text .text_01 {
    width:517px;
    height: 213px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_img .contents .inner .img_text .text_02 {
    width:814px;
    height: 219px;
    position: absolute;
    left: 400px;
    top: 250px;
}

#nm_img .contents .inner .img_text .text_03 {
    width:729px;
    height: 219px;
    position: absolute;
    left: 0;
    top: 510px;
}

#nm_img .contents .inner .img_text .text_04 {
    width:1295px;
    height: 220px;
    position: absolute;
    left: 620px;
    top: 1300px;
}

#nm_img .contents .inner .img_text .text_05 {
    width:1089px;
    height: 216px;
    position: absolute;
    left: 830px;
    top: 1570px;
}

#nm_img .contents .inner .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: 750px;
    top: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nm_img .contents .inner .iphone .page {
    width: 365px;
    height: 780px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
}

#nm_img .contents .inner .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_img .contents .inner .iphone .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}







#nm_style {
    margin: 0 auto;
    width: 100vw;
    height: 3380px;
    position: relative;
    background: white;
}

#nm_style .contents {
    width: 1920px;
    height: 3380px;
    position: relative;
    margin: 0 auto;
    background: white;
}

#nm_style .contents .gnb_st{
    width: 1920px;
    height: 80px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nm_style .contents .gnb_st .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#nm_style .contents .gnb_st .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_style .contents .gnb_st .gnb{
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s;
}

#nm_style .contents .gnb_st.on .gnb{
    transform: translateY(0);
    opacity: 1;
    transition: 1.5s;
}

#nm_style .contents .inner {
    width: 1600px;
    height: 3380px;
    position: relative;
    margin: 0 auto;
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#nm_style .contents .inner .nm_font {
    width: 1600px;
    height:1600px;
    position: absolute;
}

#nm_style .contents .inner .nm_font >div{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_style .contents .inner .nm_font.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_style .contents .inner .nm_font.on >div:nth-child(2){transition-delay: 1.5s}

#nm_style .contents .inner .nm_font .font_01{
    width: 380px;
    height: 338px;
    position: absolute;
    left: 215px;
    top: 215px;
}

#nm_style .contents .inner .nm_font .font_02{
    width: 391px;
    height: 553px;
    position: absolute;
    left: 1010px;
    top: 920px;
}

#nm_style .contents .inner .nm_flow {
    width:1409px;
    height: 776px;
    position: relative;
    margin-right: 30px;
}

#nm_style .contents .inner .nm_flow {
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s;
}

#nm_style .contents .inner .nm_flow.on {
    transform: translateY(0);
    opacity: 1;
    transition: 1.5s;
}

#nm_style .contents .inner .st_img {
    width: 1600px;
    height: 724px;
}








#nm_intro {
    margin: 0 auto;
    width: 100vw;
    height: 1970px;
    position: relative;
    background: white;
}

#nm_intro .contents {
    width: 1920px;
    height: 1970px;
    background: white;
    position: relative;
    margin: 0 auto;
}

#nm_intro .contents .gnb_in{
    width: 1920px;
    height: 80px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nm_intro .contents .gnb_in .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#nm_intro .contents .gnb_in .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_intro .contents .gnb_in .gnb{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_intro .contents .gnb_in.on .gnb{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_intro .contents .inner {
    width: 1600px;
    height: 1970px;
    position: relative;
    margin: 0 auto;
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#nm_intro .contents .inner >div {
    transform: translateY(130px);
    opacity: 0;
    transition: 2.5s;
}

#nm_intro.on .contents .inner >div {
    transform: translateY(0);
    opacity: 1;
    transition: 2.5s;
}

#nm_intro.on .contents .inner >div:nth-child(1){transition-delay: 0.7s}
#nm_intro.on .contents .inner >div:nth-child(2){transition-delay: 1.3s}
#nm_intro.on .contents .inner >div:nth-child(3){transition-delay: 4.0s}

#nm_intro .contents .inner .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: 150px;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nm_intro .contents .inner .iphone .page {
    width: 365px;
    height: 780px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 16px;
    top: 15px;
}

#nm_intro .contents .inner .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_intro .contents .inner .iphone .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_intro .contents .inner .intro_page {
    width: 810px;
    height: 1226px;
    position: absolute;
    left: 600px;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
}

#nm_intro .contents .inner .intro_page >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_intro .contents .inner .intro_page.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_intro .contents .inner .intro_page.on >div:nth-child(1){transition-delay: 0.6s}
#nm_intro .contents .inner .intro_page.on >div:nth-child(2){transition-delay: 0.9s}
#nm_intro .contents .inner .intro_page.on >div:nth-child(4){transition-delay: 2.2s}

#nm_intro .contents .inner .intro_page .page_01 {
    width:353px;
    height: 765px;
    position: absolute;
    left: 0;
    top: 350px;
}

#nm_intro .contents .inner .intro_page .page_02 {
    width:353px;
    height: 765px;
    position: absolute;
    left: 455px;
    top: 200px;
}

#nm_intro .contents .inner .intro_page .text_01 {
    width:346px;
    height: 202px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_intro .contents .inner .intro_page .text_02 {
    width:346px;
    height: 202px;
    position: absolute;
    left: 460px;
    top: 1050px;
}

#nm_intro .contents .inner .intro_bg_01 {
    width:677px;
    height: 569px;
    position: absolute;
    left: 1100px;
    top: 100px;
}

#nm_intro .contents .inner .intro_bg_02 {
    width:475px;
    height: 329px;
    position: absolute;
    left: 100px;
    top: 1300px;
}






#nm_main {
    margin: 0 auto;
    width: 100vw;
    height: 4424px;
    position: relative;
    background: white;
}

#nm_main  .contents {
    width: 1920px;
    height: 4424px;
    background: white;
    position: relative;
    margin: 0 auto;
}

#nm_main  .contents .gnb_ma{
    width: 1920px;
    height: 80px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nm_main .contents .gnb_ma .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#nm_main  .contents .gnb_ma .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_main  .contents .gnb_ma .gnb{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_main  .contents .gnb_ma.on .gnb{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_main  .contents .inner {
    width: 1600px;
    height: 4424px;
    position: relative;
    margin: 0 auto;
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#nm_main  .contents .inner .main_img {
    width: 1600px;
    height: 1154px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_main .contents .inner .ma_iphone>div{
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_main .contents .inner .ma_iphone.on>div{
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_main .contents .inner .ma_iphone.on>div:nth-child(2){transition-delay: 2.6s}


#nm_main .contents .inner .ma_iphone .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: 200px;
    top: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_main .contents .inner .ma_iphone .iphone .page {
    width: 360px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 18px;
    top: 16px;
}

#nm_main .contents .inner .ma_iphone .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_main.contents .inner .ma_iphone .iphone .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_main .contents .inner .ma_iphone .iphone02 {
    width:399px;
    height: 806px;
    position: absolute;
    left: 850px;
    top: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_main .contents .inner .ma_iphone .iphone02 .page {
    width: 360px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 18px;
    top: 16px;
}

#nm_main .contents .inner .ma_iphone .iphone02 .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_main.contents .inner .ma_iphone .iphone02 .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_main .contents .inner .ma_page {
    width:1076px;
    height: 2728px;
    position: absolute;
    top: 1300px;
    left: 260px;
}

#nm_main .contents .inner .ma_page >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_main .contents .inner .ma_page.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_main .contents .inner .ma_page.on >div:nth-child(1){transition-delay: 3.5s}
#nm_main .contents .inner .ma_page.on >div:nth-child(2){transition-delay: 4.0s}
#nm_main .contents .inner .ma_page.on >div:nth-child(4){transition-delay: 2.0s}
#nm_main .contents .inner .ma_page.on >div:nth-child(5){transition-delay: 4.5s}
#nm_main .contents .inner .ma_page.on >div:nth-child(6){transition-delay: 6.0s}

#nm_main .contents .inner .ma_page .page_02 {
    width:441px;
    height: 1344px;
    position: absolute;
    left: 0;
    top: 1150px;
}

#nm_main .contents .inner .ma_page .page_03 {
    width:441px;
    height: 1344px;
    position: absolute;
    left: 635px;
    top: 1640px;
}

#nm_main .contents .inner .ma_page .text_01 {
    width:483px;
    height: 203px;
    position: absolute;
    left: 450px;
    top: 0;
}

#nm_main .contents .inner .ma_page .text_02 {
    width:397px;
    height: 146px;
    position: absolute;
    left: 150px;
    top: 700px;
}

#nm_main .contents .inner .ma_page .text_03 {
    width:383px;
    height: 84px;
    position: absolute;
    left: 640px;
    top: 1500px;
}

#nm_main .contents .inner .ma_page .text_04 {
    width:403px;
    height: 140px;
    position: absolute;
    left: 10px;
    top: 2540px;
}

#nm_main .contents .inner .main_bg >div {
    transform: translateY(200px);
    opacity: 0;
    transition: all 3s;
}

#nm_main .contents .inner .main_bg.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 3s;
}

#nm_main .contents .inner .main_bg.on >div:nth-child(2){transition-delay: 1.2s}
#nm_main .contents .inner .main_bg.on >div:nth-child(3){transition-delay: 5.5s}

#nm_main .contents .inner .main_bg .bg_01 {
    width: 470px;
    height: 689px;
    position: absolute;
    left: 1280px;
    top: 1250px;
}

#nm_main .contents .inner .main_bg .bg_02 {
    width: 368px;
    height: 315px;
    position: absolute;
    left: 50px;
    top: 1720px;
}

#nm_main .contents .inner .main_bg .bg_03 {
    width: 368px;
    height: 315px;
    position: absolute;
    left: -160px;
    top: 3200px;
}






#nm_page {
    margin: 0 auto;
    width: 100vw;
    height: 6438px;
    position: relative;
    background: black;
}

#nm_page .contents {
    width: 1920px;
    height: 6438px;;
    background: black;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nm_page .contents .gnb_pa{
    width: 1920px;
    height: 80px;
    position: relative;
    background: black;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#nm_page .contents .gnb_pa .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 auto;
    position: relative;
}

#nm_page .contents .gnb_pa .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_page .contents .gnb_pa .gnb {
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_page .contents .gnb_pa.on .gnb {
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_page .contents .page_bg {
    width: 1920px;
    height: 6438px;
    position: absolute;
}

#nm_page .contents .page_bg .bg_01 {
    width:189px;
    height: 246px;
    position: absolute;
    left: 200px;
    top: 1300px;
}

#nm_page .contents .page_bg .bg_02 {
    width:938px;
    height: 1410px;
    position: absolute;
    left: 983px;
    top: 80px;
}

#nm_page .contents .page_bg .bg_03 {
    width:614px;
    height: 1896px;
    position: absolute;
    left: 0;
    top: 1422px;
}

#nm_page .contents .page_bg .bg_04 {
    width:1920px;
    height: 2074px;
    position: absolute;
    left: 0;
    top: 4365px;
}

#nm_page .contents .inner {
    width: 1600px;
    height: 6438px;
    position: absolute;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#nm_page .contents .inner .pt_01 {
    width: 790px;
    height: 1874px;
    position: absolute;
    left: 150px;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#nm_page .contents .inner .pt_01 >div{
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}

#nm_page .contents .inner .pt_01.on >div{
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
}

#nm_page .contents .inner .pt_01.on >div:nth-child(2){transition-delay: 0.8s}
#nm_page .contents .inner .pt_01.on >div:nth-child(3){transition-delay: 1.3s}


#nm_page .contents .inner .pt_01 .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_page .contents .inner .pt_01 .iphone .page {
    width: 369px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 17px;
    top: 16px;
}

#nm_page .contents .inner .pt_01 .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}


#nm_page .contents .inner .pt_01 .iphone .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_page .contents .inner .pt_01 .page01 {
    width:353px;
    height: 1761px;
    position: absolute;
    top: 100px;
    left: 438px;
}

#nm_page .contents .inner .pt_01 .text01 {
    width:324px;
    height: 222px;
    position: absolute;
    top: 880px;
    left: 10px;
}

#nm_page .contents .inner .pt_02 {
    width: 1416px;
    height: 1664px;
    position: absolute;
    left: 345px;
    top: 2100px;
    display: flex;
    flex-wrap: wrap;
}

#nm_page .contents .inner .pt_02 >div {
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}

#nm_page .contents .inner .pt_02.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: 2s;
}

#nm_page .contents .inner .pt_02.on >div:nth-child(2){transition-delay: 2.3s}
#nm_page .contents .inner .pt_02.on >div:nth-child(3){transition-delay: 2.3s}
#nm_page .contents .inner .pt_02.on >div:nth-child(4){transition-delay: 2.3s}
#nm_page .contents .inner .pt_02.on >div:nth-child(5){transition-delay: 0.4s}


#nm_page .contents .inner .pt_02 .iphone02 {
    width:399px;
    height: 800px;
    position: absolute;
    left: 700px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_page .contents .inner .pt_02 .iphone02 .page {
    width: 369px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 16px;
    top: 18px;
}

#nm_page .contents .inner .pt_02 .iphone02 .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_page .contents .inner .pt_02 .iphone02 .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_page .contents .inner .pt_02 .page02 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 0;
    top: 900px;
}

#nm_page .contents .inner .pt_02 .page03 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 400px;
    top: 900px;
}


#nm_page .contents .inner .pt_02 .page04 {
    width:335px;
    height: 765px;
    position: absolute;
    left: 1080px;
    top: 900px;
}

#nm_page .contents .inner .pt_02 .text02 {
    width:286px;
    height: 208px;
    position: absolute;
    left: 320px;
    top: 400px;
}

#nm_page .contents .inner .pt_03 {
    width: 1450px;
    height: 2266px;
    position: absolute;
    left: 100px;
    top: 3900px;
    display: flex;
    flex-wrap: wrap;
}

#nm_page .contents .inner .pt_03 >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_page .contents .inner .pt_03.on >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_page .contents .inner .pt_03.on >div:nth-child(2){transition-delay:1.0s}
#nm_page .contents .inner .pt_03.on >div:nth-child(3){transition-delay:2.4s}
#nm_page .contents .inner .pt_03.on >div:nth-child(4){transition-delay:3.4s}
#nm_page .contents .inner .pt_03.on >div:nth-child(5){transition-delay:3.4s}
#nm_page .contents .inner .pt_03.on >div:nth-child(7){transition-delay:3.0s}

#nm_page .contents .inner .pt_03 .iphone03 {
    width:399px;
    height: 806px;
    position: absolute;
    left: 400px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_page .contents .inner .pt_03 .iphone03 .page {
    width: 369px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 16px;
    top: 17px;
}

#nm_page .contents .inner .pt_03 .iphone03 .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_page .contents .inner .pt_03 .iphone03 .frame {
    width:399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_page .contents .inner .pt_03 .page05 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 0;
    top: 300px;
}

#nm_page .contents .inner .pt_03 .page06 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 0;
    top: 1100px;
}

#nm_page .contents .inner .pt_03 .page07 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 710px;
    top: 1650px;
}

#nm_page .contents .inner .pt_03 .page08 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 1090px;
    top: 1650px;
}

#nm_page .contents .inner .pt_03 .text03 {
    width:414px;
    height: 208px;
    position: absolute;
    left: 850px;
    top:100px;
}

#nm_page .contents .inner .pt_03 .text04 {
    width:647px;
    height: 117px;
    position: absolute;
    left: 710px;
    top: 1480px;
}







#nm_other {
    margin: 0 auto;
    width: 100vw;
    height: 3144px;
    position: relative;
    background: white;
}

#nm_other .contents {
    width: 1920px;
    height: 3144px;
    background: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

#nm_other .contents .gnb_ot{
    width: 1920px;
    height: 80px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nm_other .contents .gnb_ot .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#nm_other .contents .gnb_ot .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_other .contents .gnb_ot .gnb{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_other .contents .gnb_ot.on .gnb{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_other .contents .ot_img {
    width:1920px;
    height: 1918px;
    position:absolute;
    top: 1250px;
    left: 0;
}


#nm_other .contents .inner {
    width: 1600px;
    height: 3144px;
    position: relative;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#nm_other .contents .inner >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_other.on .contents .inner >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_other .contents .inner .ot_page {
    width: 1920px;
    height:810px;
    position: relative;
    top: 170px;
    display: flex;
    justify-content: space-between;
}

#nm_other .contents .inner .ot_page .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: -80px;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_other .contents .inner .ot_page .iphone .page {
    width: 369px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 16px;
    top: 16px;
}

#nm_other .contents .inner .ot_page .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_other .contents .inner .ot_page .iphone .frame {
    width: 399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_other .contents .inner .ot_page .page_01 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 380px;
    top: 20px;
}

#nm_other .contents .inner .ot_page .page_02 {
    width:354px;
    height: 766px;
    position: absolute;
    left: 1415px;
    top: 20px;
}

#nm_other .contents .inner .ot_page .text_01 {
    width:369px;
    height: 208px;
    position: absolute;
    left: 900px;
    top: 400px;
}






#nm_about {
    margin: 0 auto;
    width: 100vw;
    height: 2840px;
    position: relative;
    background: white;
}

#nm_about .contents {
    width: 1920px;
    height: 2840px;
    background: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nm_about .contents .gnb_ab{
    width: 1920px;
    height: 80px;
    position: relative;
    background: white;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nm_about .contents .gnb_ab .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#nm_about .contents .gnb_ab .gnb{
    position: absolute;
    left: 185px;
    top: 30px;
}

#nm_about .contents .gnb_ab .gnb{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_about .contents .gnb_ab.on .gnb{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_about .contents .about_img {
    width: 1920px;
    height:988px;
    position: absolute;
    top: 726px;
}

#nm_about .contents .inner {
    width: 1600px;
    height: 1714px;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nm_about .contents .inner >div {
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s;
}

#nm_about.on .contents .inner >div {
    transform: translateY(0);
    opacity: 1;
    transition: all 2s;
}

#nm_about.on .contents .inner >div:nth-child(2){transition-delay: 0.3s}

#nm_about .contents .inner .about_page {
    width: 1920px;
    height: 642px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nm_about .contents .inner .about_page .iphone {
    width:399px;
    height: 806px;
    position: absolute;
    left: 720px;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nm_about .contents .inner .about_page .iphone .page {
    width: 369px;
    height: 779px;
    border-radius: 50px;
    background: darkturquoise;
    position: absolute;
    left: 16px;
    top: 16px;
}

#nm_about .contents .inner .about_page .iphone .page video {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#nm_about .contents .inner .about_page .iphone .frame {
    width: 399px;
    height: 806px;
    position: absolute;
    left: 0;
    top: 0;
}

#nm_about .contents .inner .about_page .text_01 {
    width: 435px;
    height: 208px;
    position: absolute;
    left: 150px;
    top: 300px;
}


#nm_about .contents .nm_thanks {
    width: 1920px;
    height: 1126px;
    background: black;
    position: absolute;
    top: 1710px;
    left: 0;
}

#nm_about .contents .nm_thanks .gnb_logo{
    width: 1920px;
    height: 80px;
    position: relative;
    background: black;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#nm_about .contents .nm_thanks .gnb_logo .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 auto;
    position: relative;
}

#nm_about .contents .nm_thanks .gnb_logo .gnb{
    position: absolute;
    left: 840px;
    top: 30px;
}

#nm_about .contents .nm_thanks .th_inner {
    width: 1600px;
    height: 966px;
    position: relative;
    top: 0;
    margin: 0 auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#nm_about .contents .nm_thanks .th_inner>div{
    overflow: hidden;
}

#nm_about .contents .nm_thanks .th_inner >div img{
    transform: translateY(130%)rotate(-5deg);
    transition: 1.5s;
}

#nm_about .contents .nm_thanks .th_inner.on >div img{
    transform: translateY(0)rotate(0);
}

#nm_about .contents .nm_thanks .th_inner .text_01 {
    width:524px;
    height: 145px;
    position: absolute;
    left: 400px;
    top: 150px;
}

#nm_about .contents .nm_thanks .th_inner .text_02 {
    width:627px;
    height: 181px;
    position: absolute;
    left: 300px;
    top: 320px;
}

#nm_about .contents .nm_thanks .th_inner .text_03 {
    width:773px;
    height: 184px;
    position: absolute;
    left: 500px;
    top: 500px;
}

#nm_about .contents .nm_thanks .th_inner .text_04 {
    width:1422px;
    height: 131px;
    position: absolute;
    left: 80px;
    top: 750px;
}

#nm_about .contents .nm_thanks .gnb_logo01 {
    width: 1920px;
    height: 80px;
    position: relative;
    top: 0;
    background: black;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#nm_about .contents .nm_thanks .gnb_logo01 .line {
    width: 1600px;
    height: 80px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 auto;
    position: relative;
}

#nm_about .contents .nm_thanks .gnb_logo01 .gnb{
    position: absolute;
    left: 840px;
    top: 30px;
}

#nm_about .contents .page_01 {
    width:354px;
    height: 1980px;
    position: absolute;
    left: 1340px;
    top: 300px;
}

#nm_about .contents .page_01 {
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s;
}

#nm_about.on .contents .page_01 {
    transform: translateY(0);
    opacity: 1;
    transition: all 1.5s;
}

#nm_about.on .contents .page_01{transition-delay: 0.9s}







#munch{
    margin: 0 auto;
    width: 100vw;
    height: 745px;
    background: #ff5b02;
}

#munch.contents {
    width: 1920px;
    height: 745px;
    position: relative;
    margin: 0 auto;
}

#munch .contents> div::after{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.58);
    opacity:0 ;
    transition: all .3s;
}

#munch .contents> div:hover:after{
    opacity:1;
}

#munch .contents .inner {
    width: 1920px;
    height: 745px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#munch .text {
    width: 627px;
    height: 131px;
    position: absolute;
    left: 200px;
    top: 300px;
}